{
    "printWidth": 180,
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
